* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body,
input {
    font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav img {
    height: 3rem;
}

.nav-bg {
    background-color: #47b475 !important;
}

.navbar-nav {
    padding-right: 5rem !important;
}

.bar {
    height: 10rem;
}

.heading {
    margin-top: 5.5rem;
    padding: 0.5rem;
    padding-left: 4rem;
    position: absolute;
    font-size: 2rem;
}

.income-btn,
.expense-btn {
    margin-top: 6rem !important;
    float: right;
    margin-right: 5rem;
}

.sum-block {
    height: 6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-lg {
    font-size: xx-large;
}

.fas {
    color: black !important;
}

.bg-head-customer,
.bg-head-supplier {
    background-color: #47b475;
}

#myChart {
    height: 40rem !important;
    width: 60rem !important;
}

#back-to-top-btn {
    position: fixed;
    bottom: 5%;
    right: 3%;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    color: #47b475;
    cursor: pointer;
    border: 2px solid #47b475;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    align-items: center;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
    background-color: #47b475;
    color: #FFF;
    border: 2px solid #FFF;
}

.preload * {
    transition: none !important;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: #333333;
    display: flex;
}

.header__button {
    width: var(--header-height);
    flex-shrink: 0;
    background: none;
    outline: none;
    border: none;
    color: #47b475;
    cursor: pointer;
}

.material-icons {
    position: absolute;
    top: 6.6rem;
    font-size: 30px !important;
}

.nav__links {
    position: fixed;
    top: 4.5rem;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background: #ffffff;
    transform: translateX(-250px);
    transition: transform 0.3s;
}

.nav--open .nav__links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
}

.nav__link>i {
    margin-right: 15px;
}

.nav__link:active {
    color: #009578;
}

.nav__link:active,
.nav__link:hover {
    background: #eeeeee;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
}

.filter-drop {
    float: right;
    width: 23% !important;
}

.forloader {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    /* background: #000; */
    width: 100vw;
    height: 100vh;
    transition: 2s;
}

.forloader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    background: #000;
    transition: 2s;
}

.forloader:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background: #000;
    width: 50vw;
    transition: 2s;
}

.forloader.complete:before {
    left: -50%;
}

.forloader.complete:after {
    right: -50%;
}

.forloader.complete {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#loader2 {
    position: absolute;
    top: 50vh;
    left: 50vw;
    border: 4px solid #fff;
    width: 50px;
    height: 50px;
    animation: cube 2s linear infinite;
    z-index: 100000;
}

#loader2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    animation: cubebg 2s linear infinite;
}

@keyframes cube {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cubebg {
    0% {
        height: 0;
    }
    25% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}